@font-face {
    font-family: 'Goudy Bookletter 1911';
    src: url('font/GoudyBookletter1911.woff2') format('woff2'),
        url('font/GoudyBookletter1911.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.woff2') format('woff2'),
        url('font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-SemiBold.woff2') format('woff2'),
        url('font/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Goudy Bookletter 1911', Georgia, serif;
    background-color: #fbe5bc;
}

p, button {
    font-family: 'Montserrat', Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}


.container {
    background-image: url("img/ruben-ramirez-xhKG01FN2uk-unsplash.jpg");
    background-color: rgba(115, 64, 31, 0.7);;
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
}

.logo {
    cursor: pointer;
}

.logo > img {
    width: 150px;
}

nav {
    display: flex;
    gap: 300px;
    align-items: center;
    padding: 12px 100px;
}
 
.buttons {
    display: flex;
    gap: 28px;
}

.btn-tab {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 12px 24px;
    background-color:rgba(0, 0, 0, 0);
}

.btn-tab-dark {
    color: #142A1E;
    border: 2px solid #142A1E;
}

.btn-active {
    background-color: #A9B58B;
    color: #142A1E;
    border: none;
}


#content {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

#content > h1 {
    font-size: 90px;
    line-height: 1;
}
.home-para {
    font-size: 24px;
    margin-bottom: 40px;
}

#content > button {
    font-size: 20px;
    font-weight: 600;
    color: #142A1E;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 16px 40px;
    background-color: #A9B58B;
}

#content > button:hover {
    background-color: #8A9974;
}

.home-title {
    margin-top: 60px;
    margin-bottom: 18px;
}

.menu-title, .about-title {
    color: #142A1E;
    font-size: 50px;
    margin-bottom: 12px;
}

.menu-para, .about-para {
    color: #142A1E;
    font-size: 18px;
    margin-bottom: 32px;
}

.menu-container {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 251, 239);
    border: 2px solid #142A1E;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 60px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    color: #142A1E;
}

.menu-section {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-section > h2 {
    font-size: 40px;
}

.menu-item {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    font-size: 20px;
}

.menu-img {
    width: 180px;
    justify-self: center;
}


.about-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    color:#142A1E;
}

.about-img {
    width: 400px;
    border-radius: 20px;
}

.info {
    text-align: left;
}

.contact-us {
    margin-bottom: 50px;
}

.contact-us > p, .address > p {
    font-size: 16px;
    margin-bottom: 4px;
    line-height: 1.5;
}

h3 {
    font-size: 30px;
    margin-bottom: 8px;
}